body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.detailbox {
  display:flex;
  flex-direction: column;
  justify-content: center;

  
}

.detailbox div{
  justify-content: flex-start;
}

.flex-div {
  display:flex;
}

#craftdetailbox {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.projectbtn {
  align-content:start;
  color:#DFA67B;
  font-size:large;
}

.craftformpic {
  max-width: 500px;
  max-height: 500px;
}

.newbtn {
  align-content: flex-start;
}